<div id="clearance" class="sign-up">
  <h3 class="large-header"><strong>Create an Account</strong></h3>


  <div class="signup-container">

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="login-button-container">
      <%= form.submit "Sign Up", :class => 'login-button' %>
    </div>

  </div>

  <% end %>
</div>
