

/*Max width 968 and below*/

@media(max-width: 968px) {
	


	.main-container {
		width: 100%;
	}






}

@media(max-width: 500px) {
	


	.main-container {
		width: 100%;
	}

	.listing-container {
		width: 5%;
	}






}