

.name-large {
	font-size: 40px;
/*	border: 1px dotted gray;*/
	width: 100%;
	margin-bottom: 20px;
	margin-top: 50px;
}

.quick-info-container {
/*	border: 1px dotted gray;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

.quick-info-entry {
/*	border: 1px dotted gray;*/
	display: flex;
}

.city-tag-large {
	color: #be1e2d;
	font-size: 20px;
	font-weight: 700;
/*	border: 1px dotted gray;*/
	margin-top: 0px;
}

.info-container {
/*	border: 1px dotted gray;*/
	width: 350px;
	margin-right: 50px;
	order: 2;
}

.images-container {
/*	border: 1px dotted gray;*/
	width: 750px;
	display: flex;
	flex-direction: column;
	order: 1;
	margin-right: 20px;
}

.dom-img {
	width: 100%;
	margin-bottom: 10px;
}

.secondary-images-container {
	width: 100%;
/*	border: 1px dotted gray;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.secondary-images-container img {
	margin-right: 5px;
	object-fit: cover;
  	width:48.5%;
  	height:200px;
  	margin-right: 10px;
}


.divider {
	width: 100%;
	height: 1px;
	background-color: #bbbdc0;
	margin-top: 15px;
	margin-bottom: 17px;
/*	margin-left: 20px;*/
/*	margin: auto;*/
}

.booking-dates-container {
	width: 400px;
/*	border: 1px dotted gray;*/
	display: flex;
	flex-direction: column;
}

.booking-dates-container-inset {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 400px;
/*	border: 1px dotted gray;*/
}

.dates-label {
	font-size: 20px;
/*	border: 1px dotted gray;*/
/*	margin-right: 20px;*/
}


.check-in-filler {
	width: 23px;
/*	border: 1px dotted gray;*/
}

.check-out-filler {
	width: 10px;
/*	border: 1px dotted gray;*/
}

.booking-button-container {
	width: 100%;
/*	border: 1px dotted gray;*/
	display: flex;
	margin-bottom: 20px;
}

.booking-button {
	background-color: #be1e2d;
	width: 200px;
	height: 50px;
	font-size: 15px;
	border: 0px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	box-sizing: border-box;
	padding-top: 2px;
	padding-left: 10px;
}

#booking-button-fixed {
	padding-top: 15px;
	padding-left: 20px;
}

.calendar-icon {
	height: 17px;
	width: 17px;
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 2px;
}


.booking-button:hover {
	background-color: #710f11;
	transition: 0.2s;
}

.payment-button {
	background-color: #be1e2d;
	width: 155px;
	height: 50px;
	font-size: 15px;
	border: 0px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	box-sizing: border-box;
	padding-top: 15px;
	padding-left: 20px;
}

.payment-button:hover {
	background-color: #710f11;
	transition: 0.2s;
}

.price {
	font-size: 25px;
}

.hostname {
	font-size: 20px;
	margin-top: 10px;
/*	border: 1px dotted gray;*/
}

#host-thumbnail {
	background-color: lightgray;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
	margin-bottom: 0px;
}




/*DATEPICKER STYLES*/


.ui-datepicker {
  width: 300px;
  height: auto;
  margin: 10px auto 0;
  padding: 20px;
  font: 15px Open Sans, sans-serif;
  border-radius: 0%;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  border-bottom-color: white;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker-title {
	font-size: 17px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: 700;
	color: #be1e2d;

}

.ui-state-default {
	border: 0px solid gray !important;
	background-color: #e5f0d4 !important;
}

.ui-state-hover {
	background-color: #b9d989 !important;
}

.ui-datepicker-header {
  color: black;
  font-weight: 400;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
  display: inline-block;
  width: 50px;
  height: 50px;
/*  text-align: center;*/
  cursor: pointer;
  background-image: url('/next_month.png') !important;
  background-position: 0px 0px !important;
/*  background-repeat: no-repeat;*/
  line-height: 200%;
  overflow: hidden;
}

.ui-widget-header {
	background-color: white;
	border: 3px solid white;
	text-align: left;
}


/*Responsive stuff below this line*/


@media(max-width: 1000px) {
	
	.main-container {
		width: 95%;
		justify-content: center;
		margin-left: 20px;
	}

	.info-container {
		width: 40%;
	}

	.images-container {
		width: 50%;
	}
	.secondary-images-container img {
		width: 46%;
		margin-right: 10px;
	}


}

/*Second breakpoint*/

@media(max-width: 768px) {
	.info-container {
		width: 98%;
		margin-left: 0px;
	}

	.images-container {
		width: 100%;
	}

	.secondary-images-container img {
		width: 100%;
		margin-bottom: 10px;
	}
}

/*Third breakpoint*/


@media(max-width: 600px) {
	
	.main-container {
		width: 98%;
		margin-left: 5px;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	.info-container {
		width: 100%;
		margin-left: 0px;
		order: 2;
	}

	.images-container {
		order: 1;
		width: 100%;
		margin: 0;
	}
}
